In [1]:
import pandas as pd
import hashlib

In [2]:
df = pd.read_csv("../../data/trusted/arquivo_anonimizado_v2.csv")

In [16]:
colunas_curso = [
    "sk_d_curso",
    "codCursoIngresso",
    "cursoIngressoUFRJ",
    "codCursoAtual",
    "cursoAtual",
]
d_curso = df[colunas_curso[1:]]
d_curso = d_curso.drop_duplicates().reset_index(drop=True)

In [20]:
d_curso.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80 entries, 0 to 79
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   codCursoIngresso   80 non-null     int64
 1   cursoIngressoUFRJ  80 non-null     object
 2   codCursoAtual      80 non-null     int64
 3   cursoAtual         80 non-null     object
dtypes: int64(2), object(2)
memory usage: 2.6+ KB

In [21]:
d_curso["sk_d_curso"] = d_curso.apply(
    lambda x: hashlib.sha256(
        str(x["codCursoIngresso"] + x["codCursoAtual"]).encode()
    ).hexdigest(),
    axis=1,
)
d_curso = d_curso.reindex(columns=colunas_curso)
d_curso.to_csv("../../data/refined/d_curso.csv", index=False)
d_curso

,sk_d_curso,codCursoIngresso,cursoIngressoUFRJ,codCursoAtual,cursoAtual
0,cb88287d73dd290062443cea3be8295b21be77ea3b955a...,3101020000,Bacharelado em Informática,3101070000,Bacharelado em Ciência da Computação
1,73ab696911ff64ad47fca973788059abaccde6a6e96411...,3101020000,Bacharelado em Informática,3101020000,Bacharelado em Informática
2,cfb25bb897e4be000b1f85f75175f2bc4f4b3c972dbc6a...,3101020000,Bacharelado em Informática,3101050100,Mat Aplicada - Computação Científica
3,0fc958ba6d7aea682759d57f5836b7f881490b7b975dfb...,3101020000,Bacharelado em Informática,3101010200,Licenciatura em Matemática
4,18d23ee40f36af9a5cbd3ffe0e233fd62709a75b2b0ce3...,3101010100,Matemática,3101070000,Bacharelado em Ciência da Computação
...,...,...,...,...,...
75,e2a2eb78b69fdc4bdb2a025a4a76e1ae15881bda6350bc...,3171000000,Ciências Matemáticas e da Terra,3109000100,Ciência da Computação
76,aecefcfff66874c5c8bde83dd95569627b9690e8169277...,3101070000,Bacharelado em Ciência da Computação,3601010900,Engenharia Eletrônica e de Computação
77,9fe3a90f751fb2e3d660ea64324f829336729902e58940...,3101070000,Bacharelado em Ciência da Computação,3105010200,Licenciatura em Geografia
78,bacd2ad44ad291e1e72fe46943f0ab8415a02f53e86513...,3101070000,Bacharelado em Ciência da Computação,3408000002,Relações Internacionais
79,af68faa899cf299c7e43f70d5b275114f02f6e199eab7f...,3109000100,Ciência da Computação,3109000100,Ciência da Computação