In [33]:
import pandas as pd
import hashlib

In [27]:
df = pd.read_csv("../../data/trusted/arquivo_anonimizado_v2.csv")

In [35]:
colunas_periodo = ["sk_d_periodo", "ano", "semestre", "periodo"]


min_periodo = int(df['periodoIngressoUFRJ'].min().split('/')[0])
max_periodo = int(df['periodoIngressoUFRJ'].max().split('/')[0])

anos = range(min_periodo, max_periodo + 1)
semestres = [0, 1, 2, 3]

data = []
for ano in anos:
    for semestre in semestres:
        data.append([ano, semestre, f'{ano}/{semestre}'])

d_periodo = pd.DataFrame(data, columns=['ano', 'semestre', 'periodo'])

In [37]:
d_periodo["sk_d_periodo"] = d_periodo.apply(
    lambda x: hashlib.sha256(str(x["ano"] + x["semestre"]).encode()).hexdigest(), axis=1
)
d_periodo = d_periodo.reindex(columns=colunas_periodo)
d_periodo.to_csv("../../data/refined/d_periodo.csv", index=False)

                                         sk_d_periodo   ano  semestre periodo
0   81a83544cf93c245178cbc1620030f1123f435af867c79...  2000         0  2000/0
1   85d6385b945c0d602103db39b0b654b2af93b5127938e2...  2000         1  2000/1
2   6c94e35ccc352d4e9ef0b99562cff995a5741ce8de8ad1...  2000         2  2000/2
3   77459b9b941bcb4714d0c121313c900ecf30541d158eb2...  2000         3  2000/3
4   85d6385b945c0d602103db39b0b654b2af93b5127938e2...  2001         0  2001/0
..                                                ...   ...       ...     ...
83  d398b29d3dbbb9bf201d4c7e1c19ff9d43c15fd45a0cec...  2020         3  2020/3
84  1bea20e1df19b12013976de2b5e0e3d1fb4ba088b59fe5...  2021         0  2021/0
85  b1ab1e892617f210425f658cf1d361b5489028c8771b56...  2021         1  2021/1
86  d398b29d3dbbb9bf201d4c7e1c19ff9d43c15fd45a0cec...  2021         2  2021/2
87  6557739a67283a8de383fc5c0997fbec7c5721a46f28f3...  2021         3  2021/3

[88 rows x 4 columns]