In [47]:
import pandas as pd
import numpy as np
from datetime import datetime

In [48]:
df = pd.read_csv("../../data/trusted/arquivo_anonimizado_v2.csv")
D_ALUNO = pd.read_csv('../../data/refined/d_aluno.csv')
D_CURSO = pd.read_csv('../../data/refined/d_curso.csv')
D_PERIODO = pd.read_csv('../../data/refined/d_periodo.csv')

In [49]:
# Converte a coluna 'cr_periodo' para string
df["cr_periodo"] = df["cr_periodo"].astype(str)

# Converte a coluna 'cr_periodo' para uma lista de tuplas
df["cr_periodo"] = df["cr_periodo"].apply(
    lambda x: [tuple(item.split(" - ")) for item in x.split("\n")]
)
# Explode a coluna 'cr_periodo' para dividir as listas em linhas separadas
df_exploded = df.explode("cr_periodo")

# Cria um novo DataFrame com as tuplas da coluna 'crPorPeriodo' separadas em colunas 'periodo' e 'cr_periodo'
df_crPeriodo = pd.DataFrame(
    df_exploded["cr_periodo"].tolist(),
    index=df_exploded.index,
    columns=("periodo", "cr_periodo"),
)

# Adiciona as colunas 'matricula_dre' e 'periodo_temp' ao novo DataFrame
df_crPeriodo["matricula_dre"] = df_exploded["matricula_dre"]

df_crPeriodo.dropna(inplace=True)

# CRA

In [50]:
# Converte a coluna 'cra_periodo' para string
df["cra_periodo"] = df["cra_periodo"].astype(str)

# Converte a coluna 'crPorPeriodo' para uma lista de tuplas
df["cra_periodo"] = df["cra_periodo"].apply(
    lambda x: [tuple(item.split(" - ")) for item in x.split("\n")]
)
# Explode a coluna 'crPorPeriodo' para dividir as listas em linhas separadas
df_exploded = df.explode("cra_periodo")

# Cria um novo DataFrame com as tuplas da coluna 'crPorPeriodo' separadas em colunas 'periodo' e 'cr_periodo'
df_craPeriodo = pd.DataFrame(
    df_exploded["cra_periodo"].tolist(),
    index=df_exploded.index,
    columns=("periodo", "cr_acumulado"),
)
# Adiciona as colunas 'matriculaDRE' e 'periodo_temp' ao novo DataFrame
df_craPeriodo["matricula_dre"] = df_exploded["matricula_dre"]
df_craPeriodo.dropna(inplace=True)
df_craPeriodo.drop_duplicates(inplace=True)

# MERGER

In [80]:
df = df.drop(['cr_periodo', 'cra_periodo'], axis=1)

In [99]:
df_crs = df_craPeriodo.merge(df_crPeriodo, how='outer')

In [100]:
F_SITUACAO_PERIODO = df.merge(df_crs)

In [101]:
F_SITUACAO_PERIODO =F_SITUACAO_PERIODO.merge(D_ALUNO, on='matricula_dre')

In [102]:
F_SITUACAO_PERIODO = F_SITUACAO_PERIODO.merge(D_PERIODO, on='periodo')

In [104]:
F_SITUACAO_PERIODO[['sk_d_aluno', 'sk_d_periodo', 'cr_periodo', 'cr_acumulado']]

,sk_d_aluno,sk_d_periodo,cr_periodo,cr_acumulado
0,5feceb66ffc86f38d952786c6d696c79c2dbc239dd4e91...,9b9d29eed04d79ce77ca84829404b2a3e134afe4c446ef...,3.8,3.9
1,5feceb66ffc86f38d952786c6d696c79c2dbc239dd4e91...,4159cd8923ee497dcd22344b2ffc4a845bdce92a8c17cc...,5.7,4.8
2,5feceb66ffc86f38d952786c6d696c79c2dbc239dd4e91...,1be9407b0177e3267f67a38fe9de1615d7a2e360013886...,5.6,5
3,5feceb66ffc86f38d952786c6d696c79c2dbc239dd4e91...,2a23d074e47a3a8cdd94db54289974475f407df0c59bb3...,7.2,5.7
4,5feceb66ffc86f38d952786c6d696c79c2dbc239dd4e91...,4d4f250915e29cc56ac564b87669f320433d2bb1a229ed...,7.4,6
...,...,...,...,...
20622,8acd25a355a2abe94f523185ac3f1225f53bbc0cd9b51e...,450c1f373a2b971e85437f496ae5fd131d672c15404e13...,8.8,8.8
20623,862952ddccaf02d8b0b4769112b0f26c0af6cd4ae815b0...,450c1f373a2b971e85437f496ae5fd131d672c15404e13...,9.2,9.2
20624,dbaf899fbd964344fefdd5d21bb73a9b0b1654799a0a43...,450c1f373a2b971e85437f496ae5fd131d672c15404e13...,3.6,3.7
20625,9c55b07c46330c6621ef6b2fea5f2ceb51acb3b7d68258...,450c1f373a2b971e85437f496ae5fd131d672c15404e13...,1,1.5
20626,cf3b763a62724306dca2a00ed53a7c0a19074286e40b8f...,450c1f373a2b971e85437f496ae5fd131d672c15404e13...,8.2,8.3